<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='navbar-header'>
          <div class='navbar-default'><strong>
            <ul class = 'nav navbar-nav'>
              <li routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}"
                ><a routerLink='/'>Home</a></li>
              <li
                routerLinkActive="active">
                <a routerLink='/length'>Length By Weight</a></li>
              <li
                routerLinkActive="active">
                <a routerLink='/weight'>Parts To Make By Weight</a></li>
              <li
                routerLinkActive="active">
                <a routerLink='/job'>Job Production - Full Bars</a></li>
              <li
                routerLinkActive="active">
                <a routerLink='/remaining'>Remaining Production</a></li>
            </ul>
          </strong></div>
        </div>
    </div>
</nav>